@charset "UTF-8";
/* CSS Document */

body {
	
}
/*css for if div*/
.if{
	width: 600px;
	height: 500px;
	background-color: black;
}
.if p{
	color: white;
	padding-top: 290px;
	margin-bottom: -290px;
}
.if img{
	width: 400px;
	float: left;
	margin-right: -75px;
}
/*end of css for if div*/
/*ID for adobe header*/
#adobe{
	color: red;
	font-size: 1.75em;
	font-weight: 200;
	margin-bottom: -15px;
}
/*ID for website link*/
#website{
	color: gray;
	font-size: 1.5em;
	margin-bottom: 30px;
	text-align: center;
	line-height: .1em;
}
/*ID for making list title bold*/
#bold{
	font-weight: bold;
}
/*begin body css*/
.body{

}
hr {
	margin-right: 50px;
}
.body img{
	width: auto;
	height: 50px;
	float: right;
	margin-top: -45px;
	margin-right: 20px;
}

.body p{
	width: 350px;
}
/*end body css*/
